body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board{
  /* background-color: skyblue; */
   background-image: url('https://user-images.githubusercontent.com/18351809/46888871-624a3900-ce7f-11e8-808e-99fd90c8a3f4.png');
}